.logo {
    height: 3em;
}

.has-bg-img {
    background-image: url('/images/banner-img.jpg');
    background-size: cover;
    background-position: center;
    height: 20em;
}

.h1 {
    color: #2F4858;
    text-align: center;
}

.h2 {
    color: #C23331;
    text-align: center;
}

.h3 {
    color: #2F4858;
    text-align: center;
}

.h4 {
    color: #7E936E;
    text-decoration: none;
}



.button {
    border: none;
    background-color: #7E936E;
    color: white;
}

.button-container {
    text-align: center;
}

.main-servicesimg {
    height: 10em;
}

.main-workimg {
    height: 10em;
}

/* -----------------ABOUT US PAGE---------------------- */
.about-banner {
    background-image: url('/images/aboutme.jpg');
    opacity: 80%;
    background-size: cover;
    background-position: center;
    height: 20em;
}

.about-title {
    text-align: center;
    color: white;
}

/* ------------------WEB DEV PAGE------------------- */
.webdev-banner {
    background-image: url('/images/webdev.jpg');
    opacity: 80%;
    background-size: cover;
    background-position: center;
    height: 20em;
}

.webdev-title {
    text-align: center;
    color: white;
}

/* ------------------PHOTOGRAPHY PAGE------------------- */
.photography-banner {
    background-image: url('/images/photography.jpg');
    opacity: 80%;
    background-size: cover;
    background-position: center;
    height: 20em;
}

.photography-title {
    text-align: center;
    color: white;
}

/* ------------------ART PAGE------------------- */
.art-banner {
    background-image: url('/images/art.jpg');
    opacity: 80%;
    background-size: cover;
    background-position: center;
    height: 20em;
}

.art-title {
    text-align: center;
    color: white;
}