.logo {
    height: 3em;
}

.dropdown-item {
    color: black;
}

.has-bg-img {
    background-image: url('/images/banner-img.jpg');
    background-size: cover;
    background-position: center;
    height: 20em;
    opacity: 80%;
}

.h1 {
    color: #2F4858;
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 1rem;
}

.h2 {
    color: #C23331;
    text-align: center;
    padding-bottom: 2rem;
}

.h3 {
    color: #2F4858;
    text-align: center;
    padding: 4rem;
    font-weight: 400;
}

.h4 {
    color: #7E936E;
    text-decoration: none;
}

.h5 {
    font-weight: 400;
    color: #33658A;
    padding-top: 1.8rem;
    padding-bottom: 1.8rem
}

.talkhere {
    text-align: center;
    padding-bottom: 4rem;
    font-size: 1.8rem;
}

.button-container {
    text-align: center;
}

.button {
    border: none;
    background-color: #7E936E;
    color: white;
    width: 23rem;
    padding: 15px;
    font-size: 1.5rem;
    margin: 1rem;
}

.button-left {
    margin-right: 3rem;
}

.button-right {
    margin-left: 3rem;
}

.main-servicesimg {
    height: 20rem;
    margin-bottom: 4rem;
}

.main-workimg {
    height: 20rem;
}

.services-title {
    padding-bottom: 1.5rem;
}

.mywork-title {
    padding-bottom: 1.5rem;
}

.services {
    grid-area: services;
}

.mywork {
    grid-area: mywork;
}

.main-grid {
    text-align: center;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "services"
    "mywork"
    ;
}

.here {
    color: #7E936E;
    font-style: italic;
}

footer {
    border-top: #2F4858 2px solid;
    text-align: center;
}

.copyright, .policy {
    display: inline-block;
}

.copyright {
    padding-right: 1.5rem;
}

.policy {
    padding-left: 1.5rem;
}

/* Media Queries for Homepage */

/* Tablet */
@media screen and (min-width:760px) {
    .button-container {
        display: flex;
        justify-content: center;
    }

    .button {
        border: none;
        background-color: #7E936E;
        color: white;
        width: 23rem;
        padding: 15px;
        font-size: 1.5rem;
        flex-basis: auto;
    }

    footer {
        text-align: right;
    }
    
    .copyright, .policy {
        display: inline-block;
    }

    .policy {
        padding-right: 2em;
    }

}

/* Desktop */
@media screen and (min-width:1024px) {

    .button-container {
        display: flex;
        justify-content: center;
    }

    .button {
        border: none;
        background-color: #7E936E;
        color: white;
        width: 23rem;
        padding: 15px;
        font-size: 1.5rem;
        flex-basis: auto;
    }

    
    .main-grid {
        text-align: center;
        display: grid;
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-template-areas:
        "services mywork"
        ;
    }
}

/* -----------------ABOUT ME PAGE---------------------- */
.about-banner {
    background-image: url('/images/aboutme.jpg');
    opacity: 80%;
    background-size: cover;
    background-position: center;
    height: 20em;
}

.about-title {
    text-align: center;
    color: white;
    font-size: 3rem;
    padding-top: 7.5rem;
}

.donestuff {
    padding-top: 3rem;
}

.h6 {
    color: #7E936E;
    font-size: 1.5rem;
    padding-top: 1rem;
}

.workbutton-about {
    text-align: center;
    padding-bottom: 3rem;
}

.gettoknow-img {
    grid-area: gettoknowimg;
    margin-left: 2rem;
    margin-right: 2rem;
}

.gettoknow-p {
    grid-area: gettoknowp;
    margin-left: 2rem;
    margin-right: 2rem;
    text-align: center;
    color: #2F4858;
}

.motivations-img {
    grid-area: motivationsimg;
    margin-left: 2rem;
    margin-right: 2rem;
}

.motivations-p {
    grid-area: motivationsp;
    margin-left: 2rem;
    margin-right: 2rem;
    text-align: center;
    color: #2F4858;
}

.aboutme-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.5fr 1fr 0.5fr;
    grid-template-areas:
    "gettoknowimg"
    "gettoknowp"
    "motivationsimg"
    "motivationsp"
    ;
}

.socialbar {
    text-align: center;
    padding-bottom: 3rem;
}

.socialicon {
    background-color: black;
    padding: 1rem;
    border-radius: 50%;
    color: white;
    margin: 1rem;
}

/* Desktop */
@media screen and (min-width:1024px) {

    .aboutme-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
        "gettoknowimg gettoknowp"
        "motivationsp motivationsimg"
        ;
    }
    
    .gettoknow-img {
        margin: 0rem 2rem 2rem 2rem;
    }
    
    .gettoknow-p {
        margin-left: 2rem;
        margin-right: 2rem;
        text-align: left;
        color: #2F4858;
    }
    
    .motivations-img {
        margin: 0rem 2rem 2rem 2rem;
    }
    
    .motivations-p {
        margin-left: 2rem;
        margin-right: 2rem;
        text-align: right;
        color: #2F4858;
    }

}

/* ------------------SERVICES PAGE------------------- */

.servicespagetitle {
    text-align: center;
}

.h7 {
    color: #C23331;
    font-size: 3rem;
}

.servicestagline {
    font-size: 1.5rem;
    color: #33658A;
    text-align: center;
    padding-bottom: 3rem;
}

.h8 {
    font-size: 2.3rem;
}

.webdesign {
    background-image: url('/images/webdesign.jpg');
    background-size: cover;
    background-position: center;
    height: 30rem;
}

.webdesign-text {
    background-color: rgba(47, 72, 88, 0.6);
    height: 30rem;
    color: white;
    text-align: center;
    padding: 0rem 3rem 0rem 3rem;
    grid-area: webtext;
}

.webdesign-img {
    display: none;
    grid-area: webimg;
}

.webmore-img, .photomore-img {
    margin: 3rem 0rem 2rem 0rem;
}

.web-more {
    grid-area: webmore;
}
.photography-more {
    grid-area: photomore;
}

.webmore-p, .photomore-p {
    font-size: 1.25rem;
    font-weight: bolder;
    color: #33658A;
    padding: 0rem 3rem 3rem 3rem;
    text-align: center;
}

.photography-img {
    display: none;
    grid-area: photoimg;
}

.photography-bg {
    background-image: url('/images/photographyservice.jpg');
    background-size: cover;
    background-position: center;
    height: 30rem;
}

.photography-text {
    background-color: rgba(47, 72, 88, 0.6);
    height: 30rem;
    color: white;
    text-align: center;
    padding: 0rem 3rem 0rem 3rem;
    grid-area: phototext;
}

/* Media Queries for Services page */

/* Tablet */
@media screen and (min-width:760px) {

    .webdesign-img, .photography-img {
        display: block;
    }

    .webdesign, .photography-bg {
        background-image: none;
    }

    .webdesign-text, .photography-text {
        background-color: rgba(47, 72, 88, 0);
        color: #2F4858;
    }

    .services {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas:
        "webtext webimg"
        "webmore webmore"
        "photoimg phototext"
        "photomore photomore"
        ;
    }

}

/* Desktop */
@media screen and (min-width:1024px) {

    
}

/* ------------------CONTACT PAGE------------------- */

.contact-title {
    font-size: 3rem;
    text-align: center;
    color: #2F4858;
    padding: 2rem 0rem 3rem 0rem;
}

.box {
    border: #33658A solid 2px;
}

.form {
    grid-area: form;
}

.contact-img {
    grid-area: contactimg;
}

.contact-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "form"
    "contactimg"
}

.fieldpadding {
    padding: 0.5rem;
}

/* Desktop */
@media screen and (min-width:1024px) {
    
    .contact-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
        "form contactimg"
    }
    
}

/* ------------------PHOTOGRAPHY PAGE------------------- */
.photography-banner {
    background-image: url('/images/photography.jpg');
    opacity: 80%;
    background-size: cover;
    background-position: center;
    height: 20em;
}

.photography-title {
    text-align: center;
    color: white;
    font-size: 3rem;
    padding-top: 7.5rem;
}

/* Media Queries for Photography page */
/* Tablet */
@media screen and (min-width:760px) {


}

/* Desktop */
@media screen and (min-width:1024px) {

    
}

/* ------------------WEB DEV PAGE------------------- */
.webdev-banner {
    background-image: url('/images/webdev.jpg');
    opacity: 80%;
    background-size: cover;
    background-position: center;
    height: 20em;
}

.webdev-title {
    text-align: center;
    color: white;
    font-size: 3rem;
    padding-top: 7.5rem;
}


/* ------------------ART PAGE------------------- */
.art-banner {
    background-image: url('/images/art.jpg');
    opacity: 80%;
    background-size: cover;
    background-position: center;
    height: 20em;
}

.art-title {
    text-align: center;
    color: white;
    font-size: 3rem;
    padding-top: 7.5rem;
}

/* Media Queries for Art page */
/* Tablet */
@media screen and (min-width:760px) {


}

/* Desktop */
@media screen and (min-width:1024px) {

    
}